
<div class="columns">
  <div class="column">

    
     
  <img class="imagen" align="center" src="/images/LogoText.png" height="600" width="600">
  
            <h1 id="letras"> sdfds</h1>
          <h1 id="letras"> sdfsdf</h1>
  <h1 align="center">"Conectando tu empresa
          con el futuro financiero"</h1>
          <h1 id="letras">dsdsfds </h1>
          <h1 id="letras"> dsdfsds</h1>


  <h2 align="center"> Capacitate, entra en la red de apoyo y 
          conéctate a la red financiera</h2>     
<h1 id="letras"> dsdfsds</h1>
  <a div align="center" class="button is-warning is-medium" href="/registro/emprendedores/">Tengo una idea de negocio</a>
      <a class="button is-warning is-medium" href="/registro/pymes/">Tengo una pequeña empresa</a>   
  {{!-- <section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <img src="/images/LogoText.png" height="300" width="300">
      <h1 class="title">
        "Conectando tu empresa
          con el futuro financiero"
      </h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h2 class="subtitle">
        Capacitate, entra en la red de apoyo y <rb>
          conéctate a la red financiera
        </rb>
      </h2>
      <a class="button is-warning is-medium" href="/registro/emprendedores/">Tengo una idea de negocio</a>
      <a class="button is-warning is-medium" href="/registro/pymes/">Tengo una pequeña empresa</a>
    </div>
  </div>
</section> --}}
  </div>
  <div class="column">
      <img class="imagen" src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="900">
  </div>

</div>

