
<div class="columns">
  <div class="column">
  <section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <img src="LogoText.png" height="100" width="100">
      <h1 class="title">
        "Conectando tu empresa
          con el futuro financiero"
      </h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h2 class="subtitle">
        Capacitate, entra en la red de apoyo y <rb>
          conéctate a la red financiera
        </rb>
      </h2>
      <a class="button is-warning is-medium" href="/registro/emprendedores/">Tengo una idea de negocio</a>
      <a class="button is-warning is-medium">Tengo una pequeña empresa</a>
    </div>
  </div>
</section>
  </div>
  <div class="column">
      <img class="imagen" src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="900">
  </div>

</div>

