<section class="login is-fullheight">
      <div class="login-body">
        <div class="container v-middle">
          <div class="columns login-page">
              <div class="column is-5 login-sidebar is-hidden-mobile">
                <div class="login-gradient-background">
                  <h1>Registro de PyMes</h1>
                </div>
              </div>
              <div class="column is-7 login-form-wrapper">
                <div class="column is-12 field-box">
                  <div class="column is-7 is-offset-1">
                    <h1 class="login-heading"></h1>
                    <p class="login-subheading"></p>
                    <form method="" action="">
                      <div class="field">
                        <p class="control has-icons-left has-icons-right">
                          <input class="input is-medium" type="email" placeholder="RFC" value="" name="email" autofocus="" required>
                          <span class="icon is-medium is-left">
                            <i class="fa fa-envelope"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fa fa-check"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left has-icons-right">
                          <input class="input is-medium" type="password" placeholder="Nombre de la empresa" name="password" required>
                          <span class="icon is-medium is-left">
                            <i class="fa fa-lock"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fa fa-eye"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left has-icons-right">
                          <input class="input is-medium" type="password" placeholder="Titular" name="password" required>
                          <span class="icon is-medium is-left">
                            <i class="fa fa-lock"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fa fa-eye"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left has-icons-right">
                          <input class="input is-medium" type="password" placeholder="Razón social" name="password" required>
                          <span class="icon is-medium is-left">
                            <i class="fa fa-lock"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fa fa-eye"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field is-grouped is-grouped-centered login-btn-group">
                        <p class="control">
                          <a class="login-btn">
                            Registrarme
                          </a>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- is-8 ends -->
          </div>
        </div>
        <!-- div.container ends -->
      </div>
  </section>